.root {
    -fx-font-family: Verdana;
}
.chart-bar {
    -fx-bar-fill: #4D96FF;
}
.data0.chart-pie {
    -fx-pie-color: #FF6B6B;
}

.data1.chart-pie {
    -fx-pie-color: #FFD93D;
}

.data2.chart-pie {
    -fx-pie-color: #6FCF97;
}

.data3.chart-pie {
    -fx-pie-color: #BB6BD9;
}
